<!-- p-index-team -->
<section class="p-index-team">
  <div class="l-inner u-fadeInDown" data-scroll-animation>
    <h2 class="c-section-title c-section-title--reverse"><span>team</span></h2>
    <div class="p-index-team__text">
    {{ site.team.toptext }}
    </div>
    <div class="p-index-team__button">
      <a href="./team/" class="c-button-arrow c-button-arrow--text-right"><span>team list</span></a>
    </div>
  </div>
</section>
<!-- /p-index-team -->
