<!DOCTYPE html>
<html lang="{{ lang }}">
<!-- START LAYOUT: Base -->
<head>
  <meta charset="UTF-8">
  <title> 
  {{ it.title ? `${title} | ${site.title}` : site.title }}
  </title>
  <meta http-equiv="Content-Language" content="{{ lang }}">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />

  <!-- Google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Zen+Kaku+Gothic+New:wght@400;500;700&display=swap"
    rel="stylesheet">

  <!-- スクロールヒント -->
  <link rel="stylesheet" href="https://unpkg.com/scroll-hint@1.1.10/css/scroll-hint.css">
  <script src="https://unpkg.com/scroll-hint@1.1.10/js/scroll-hint.js"></script>  
  <!-- Styles -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/css/styles.css?12" type="text/css"><!-- cb={{ cacheBuster }} -->
  <!-- JavaScript -->
  <script defer src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/gsap@3.7.0/dist/gsap.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/gsap@3.7.0/dist/ScrollTrigger.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/simple-parallax-js@5.6.2/dist/simpleParallax.min.js"></script>
  <script defer src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script type="module" src="/assets/js/script.js?2"></script>
  <script type="module" src="/assets/js/index.js?5"></script>

  <!-- Fathom - beautiful, simple website analytics -->
  <script src="https://cdn.usefathom.com/script.js" data-site="EGWBHZIW" defer></script>
  <!-- / Fathom -->

  {{ if "ldPerson" in it }}
    {{ include "templates/ld-person.vto" }}
  {{ /if }} 
  
</head>
<body class="{{ it.bodyclass }}">
  {{ if it.id == "home" }}
    <div class="l-index__mask"></div>
  {{ /if }}
  {{# {{ it.url == '/'||'/en/' ? '<div class="l-index__mask"></div>' : '' }} #}}
  <div class="l-wrapper">
  {{ include "templates/header.vto" }}
  {{ include "templates/global.vto" }}
  
  {{ content }}
  </div>
  {{ include "templates/footer.vto" }}
  {{ include "templates/fathom-menu-track.vto"}}
</body>
<!-- END LAYOUT: Base -->
</html>
